<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Weather Journal</title>
<link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
</head>
 <body>
  <div id = "app">
    <div class ="holder headline">
      Travel App
    </div>
      <div class ="holder zip">
        <label for="zip">Destination</label>
        <input class = "form-control" type="text" id="zip" placeholder="Enter city name">
      </div>
      <div class ="holder feel">
        <label for="departure">Date of Departure</label>
        <input class = "form-control" type =date id="start_date" placeholder="MM-DD-YYYY"></input>
        <label for="return"> Return Date</label>
        <input class = "form-control" type = date id="end_date" placeholder="MM-DD-YYYY"></input>
      </div>
    <div class="button" onclick = "return client.showCard()">
      <button id="generate" type = "button" class = "btn btn-primary"> Get Trip! </button>  
    </div>
    <div id = "countdown"> 
    </div> 
    <section id = "container">
      <div class ="card" id = "trip" style= "display:none">
        <div class = "title"></div>
        <img id = "image" src = "empty.jpg" class="rounded mx-auto d-block" class = "card-img-top" alt ="image of destination"></img>
        <section class = "card-body">
          <div id = "place"></div>
          <div id = "trip_length"></div>
          <div id = "temp"></div> 
          <div id="to-do" style="display:none">
            <textarea class="form-control" id = "text" rows = 3></textarea>
            <button id="save" type="button" class = "btn" onclick = "return client.saveNotes()">Save Notes</button> 
          </div>
          <label id = "area" for="text"><u>Notes</u></label>
          <div id="saved"></div>
          <button id = "notes" type="button" class="btn btn-secondary btn-sm" onclick = "return client.addNotes()"> + Trip Notes </button>
        </section>
      </div>
    </section>
    </div>
  </div>
  <script>
    // Check that service workers are supported
    if ('serviceWorker' in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener('load', () => {
            navigator.serviceWorker.register('/service-worker.js');
        });
    }
</script>
</body>
</html>