@import "~bootstrap/scss/bootstrap";

body{
    background: #fffff8;
    
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    text-align: center;
}

#app{
    display: grid;
    grid-auto-rows: .1fr .05fr .05fr .05fr .1fr .50fr;
    grid-auto-columns: 1fr;
    grid-template-areas: 
    "hd"
    "zip"
    "feel"
    "btn"
    "ct"
    "main";
    height:100vh;
    background: linear-gradient(#33acdd 20%,#ffffff);
    color: #444;
    justify-content: center;
    grid-gap: 1em;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}

.holder{
    display:flex;
    padding: 20px;
    text-align: center;

}
.zip{
    grid-area: zip;
}
.feel{
    grid-area: feel;
}
#countdown{
    text-align:center;
    grid-area: ct;
    font-size: 30px;
}
#notes{
    display:block;
}
img{
    width: 100%;
    height: 300px;
}
.headline {
    grid-area: hd;
    text-align: center;
    font-size:30px;
    background-image: url("../views/clouds.png") ;
    background-repeat: repeat-x;
    background-size: 300px;
   

}
.title{
  text-align:center;
}

/*  Basic Styling To Override Default For Basic HTML Elements */
input, label{
    font-size: 25px;
    margin:5px;
}

input{
    display:block;
    height: 60px;
    width: 320px;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.card{
    background: rgba(59, 74, 107, .4);
    margin:20px;
    grid-area: main;
    width: 500px;
    margin: auto;
    margin-bottom: 10px;
    text-align: left;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
#notes{
    text-align: center;
}
button{
    width: 100px;
    height: 50px;
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 2px 4px 5px #444;
    grid-area:btn;
    text-align: center;
    display:block;
    margin:auto;
    padding:10px;
}
.card-body>button{
    text-align:right;
}

h1{
    font-size: 36px;
}

textarea{

    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 

    font-family: 'Oswald', sans-serif;

} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
 
    font-family: 'Oswald', sans-serif;

} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
   
    font-family: 'Oswald', sans-serif;

} 
@media (min-width: 1007px){
    #app{
        display: grid;
        grid-auto-rows: minmax(10px, 200px);
        grid-template-columns: 50% 50%;
        grid-template-areas: 
        "hd hd"
        "zip main"
        "feel main"
        "btn main"
        "ct ct";
        height:100vh;
        background: linear-gradient(#01aef0,#ffffff);
        color: #444;
        justify-content: center;
        grid-gap: 1em;
        font-size: 20px;
        font-family: 'Oswald', sans-serif;
        overflow-y: hidden;
        overflow: auto;
    }
    .card{
        grid-area: main;
        margin-right: 20px;
        margin-bottom:20px;
        margin:auto;
        top:0;
    }
    .zip{
        grid-area: zip;
    }
    .feel{
        grid-area: feel;
    }
    .button{
        grid-area:btn;
        height: 50px;
    }
    #countdown{
        grid-area: ct;
        margin: 20px;
    }
    .headline {
        grid-area: hd;
        background-position-y: top;
    }
}

